 /*All*/
    html{
        background-color:black;
        scroll-behavior: smooth;
    }

/*Parallax*/

    .scroll{
        min-height: 110vh;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .first{
       background-image: url("stupa-altered.jpg"); 
    }
    .second {
        background-image: url("bali-edited3.jpg");

    }
    .third{
        min-height: 120vh;
        background-image: url("sunrise-edited.jpg");
    }
    .fourth{
        background-image: url("buddha%20statue-edited.png");
    }
    .fifth{
        background-image: url("nycEdit.jpg");
    }

    .anchor {
        opacity:0; 
        margin-top: -1em;
        padding-bottom: 4em;
    }

/*nav*/
    .top{
        display: block;
        padding-top: 1em;
        padding-right: 1.5em;
    }


    ul{
        list-style: none;
    }
    
    nav{
        margin-top: -1em;
        padding-top: 2%;
        font-size: 3em; 
    }
    a:hover{
        color:#ffeec6;
        text-decoration: none;
    }
    .test:hover{
        color:#ffeec6;
        text-decoration: none;
    }

/*Images*/
    .img-fluid{
        max-height: 75%;
        max-width: 75;
        padding-left: 2em;
        padding-right: 2em;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

/*Titles*/

.three-title{
    max-width: 50%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size:3em;
    text-align: center;
    margin-bottom: 2em;
    font-family: 'Josefin Sans', serif;
    background-color: darkorange;
}

.five-title{
    padding-left: 1em;
    margin-top: -0.3em;
    margin-bottom: 0.5em;
}

/*Words*/

.about{
    padding-left: 2.3em;
    max-width: 80%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
}

.about2{
    padding-top: 6em;
    padding-left: 2.3em;
    max-width: 80%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size:1em;
}

.reform{
    font-family: 'Josefin Sans', serif;
    color: white;        
}

.b{
    font-size: 6em;
}
.c{
    font-size: 1.4em;
    padding-top: 1.5em;
    font-family: 'Montserrat', sans-serif;    
}
/*Squares*/
#squareLeft {
    background-color: darkorange;
    max-width: 32em;
    padding-top: 20%;
    margin-top: -6.5em;
    padding-bottom: 9.5em;
    }
#squareRight {
    background-color: darkorange;
    max-width: 32em;
    min-height: 110vh;
    padding-top: 5%;
    margin-top: -6.5em;
    padding-bottom: 9.5em;
    }

.two-title{
    margin-top: -250px;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 2.5em;
}

/*--contact square--*/
.squareContact {
    max-width: 50%;
    margin-top: 20%;
    margin-bottom: -5%;
}

.four-title{
    padding-top: 1.2em;
    padding-left: 0.8em; 
    font-size: 5em;
}

.textContact {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 4em;
    max-width: 80%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
    
}

.ico {
    max-height: 20px;
    padding-right: 1em;
    padding-left: 1.5em;
}

.btn {
    margin-top: 1em;
    margin-left: 3.5em;
    font-family: 'Josefin Sans', serif; 
    padding-left: 2em;
    padding-right: 2em;
}

.btn-outline-light:hover {
    opacity:50%;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

/*card*/

.cardTitle {
    font-family: 'Josefin Sans', serif;
    color:black;
}

.card1 {
    transition: transform .2s;
}
.card1:hover {
  transform: scale(1.3);
}

.imgCard {
    border-radius: 5px 5px 0 0;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}

.imgCard:hover {
    
} 
.container {
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-family: 'Josefin Sans', serif;
}


/*cover*/

/*mobile*/

@media only screen and (max-width: 600px) {
    .b {
        font-size: 4em;
    }
    
    .c {
        font-size: 1em;
    }
    
    nav {
        padding-top: 4em;
    }
    #squareLeft {
        padding-top: 18em;
    }
    .squareContact {
        max-width: none
    }
}

@media only screen and (max-width: 950px) {
    .b {
        font-size: 4em;
    }
    
    .c {
        font-size: 1em;
    }
    
    nav {
        padding-top: 4em;
    }
    #squareLeft {
        padding-top: 18em;
    }
    .squareContact {
        max-width: none
    }
}